$background: #CDD5D1;

.months{
    display: flex;
    flex-direction: column;
    width: 20%;

    &__button {
        width: 100%;
        flex-grow: 1;
        background-color: $background;
        border: 1px solid lighten($background, 5);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &__button:hover {
        background-color: darken($background, 10);
    }

    &__button--active {
        background-color: #23B5D3;
    }
}